body{
    align-items: center;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;

    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    color: #222;
    background-color: #E5E5E5;
    display: flex;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

/* Container
======================= */

.container{
    width: 100%;    
    max-width: 1115px;
    margin: 0 auto;
}


/* Intro
======================= */

.intro{
    width: 100%;
    height: 1115px;
}


.intro__text{

    position: absolute;
    width: 539px;
    height: 140px;
    left: 126px;
    top: 209px;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1px;
    color: #222222;

}

.intro__social{
    position: absolute;
    width: 120px;
    height: 24px;
    left: 1115px;
    top: 311px;
}

.social{
    color: black;
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;

}
.social:hover{
    color: rgb(175, 175, 175);
    transition: step-start 1s;

}

.intro__photo{
    position: absolute;
    width: 1110px;
    height: 580px;
    left: 125px;
    top: 435px;
}


/* Header
======================= */
.header{
    width: 100%;
    position: absolute;
    top: 59px;
    left: 125px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{

   left: 125px;
   top: 59px; 

}

/* Nav
======================= */
.search{
    display: flex;
    position: absolute;
    top: 0px;
    left: 550px;
    color: black;
    text-decoration: none;

}
.search:hover{
    color: rgb(173, 173, 173);
    transition: step-start 0.5s;
}
.menu{
 
   display: flex;
   position: absolute;
   top: 0px;
   left: 1070px;

}/* Content
======================= */

.content__text{
    position: absolute;
    width: 1110px;
    height: 61px;
    left: 125px;
    top: 1058px;
   

}

#text{
    line-height: 28px;
    font-weight: 400;
    opacity: 0.7;
    color: #222;
}

.content__photo1{
    position: absolute;
    width: 350px;
    height: 450px;
    left: 125px;
    top: 1254px;
}

.content__photo2{
    position: absolute;
    width: 350px;
    height: 450px;
    left: 505px;
    top: 1254px;
}

.content__photo3{
    position: absolute;
    width: 350px;
    height: 450px;
    left: 885px;
    top: 1254px;
}
.button{
    position: absolute;
    left: 647px;
    top: 1446px;
}
.img_button_play{
    width: 65px;
    height: 65px;
}
.img_button_play:hover{
    border: 2px solid gray;
    width: 75px;
    height: 75px;
}
.content__text2{
    position: absolute;
    left: 125px;
    top: 1750px;
    width: 540px;
    height: 87px;
    font-weight: 400;
  

}
.btn{
    display: inline-block;
    position: absolute;
    left: 1075px;
    top: 1750px;
    width: 160px;
    height: 50px;

    font-size: 14px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 3.5em;
    
   
}
.btn--orange{
    background-color: #EF8E70;
    
}
.btn:hover{
    background-color: #ec6035 ;
    transition: step-start 0.5s;
}

/* Awards
======================= */
.awards{
    position: absolute;
    left: 125px;
    top: 1995px;
    width: 1110px;
    height: 375px;
    border-top: 1px solid black;

}
.awards__logo{
    position: absolute;
    top: 67px;
}
.awards__tittle{
    position: absolute;
    left: 475px;
    top: 67px;

    font-size: 22px;
    font-weight: bold;
}
.awards__label{
    position: absolute;
    left: 760px;
    top: 72px;

    font-size: 14px;
    letter-spacing: 4px;
}

.awards__text{
    position: absolute;
    left: 760px;
    top: 97px;
    height: 84px;
    width: 230px;

    text-align: left;
    vertical-align: top;
}
.awards__paragrapgh{
    font-size: 18px;
    font-weight: 400;
    fill: black;
    opacity: 70%;

}

.awards__years{
    position: absolute;
    top: 65px;
    left: 1050px;
}
.awards__tittle1{
    position: absolute;
    left: 475px;
    top: 265px;

    font-size: 22px;
    font-weight: bold;
}
.awards__label1{
    position: absolute;
    left: 760px;
    top: 270px;

    font-size: 14px;
    letter-spacing: 4px;
}
.awards__text1{
    position: absolute;
    left: 760px;
    top: 297px;
    height: 84px;
    width: 230px;

    text-align: left;
    vertical-align: top;
}
.awards__paragrapgh1{
    font-size: 18px;
    font-weight: 400;
    fill: black;
    opacity: 70%;

}
.awards__years1{
    position: absolute;
    top: 265px;
    left: 1050px;
}
/* Clients
======================= */
.clients{
    position: absolute;
    width: 1360px;
    height: 480px;
    left: 0px;
    top: 2492px;
    background-color: #FAFAFA;
}
.clients__title{
    position: absolute;
    left: 122px;
    top: 102px;

    font-weight: 600;
    font-size: 40px;
    letter-spacing: -1px;

}
.clients__titletext{
    position: absolute;
    left: 457px;
    top: 28px;
    width: 444px;
    height: 81px;
}
.clients__label{
    position: absolute;
    left: 790px;
    top: 110px;
    
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;

}
.clients__labeltext{
    position: absolute;
    left: 790px;
    top: 146px;
    width: 445px;
    height: 56px;

}
.clients__nav{
   position: absolute;
   top: 276px;

}
.clients__logo{
    color: gray;
    
    
}
.clients__logo:hover{
    color: black;

}
#mi{
    position: absolute;
    font-size: 60px;
    }
#tinder{
    position: absolute;
    left: 275px;
    font-size: 60px;
}
#apple{
    position: absolute;
    left: 535px;
    font-size: 60px;
}
#nike{
    position: absolute;
    left: 780px;
    top: -28px;
    font-size: 120px;
}
#amd{
    position: absolute;
    left: 1055px;
    font-size: 60px;
}

/* Footer
======================= */

.footer{
    position: absolute;
    width: 1360px;
    height: 240px;
    top: 2972px;
    background-color:#515151 ;
}

.footer__logo{

    /* top: 70px; */
}
.footer__inner{
    top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 0;
}
.footer__nav{
    display: flex;
}  
.footer__menu{
    margin-left: 59px;
    color: white;
    opacity: 1;
    text-decoration: none;
    transition: opacity .1s linear;
}
.footer__menu:hover{
    opacity: 0.4;
}

.footer__form{
    display: flex;
    justify-content: space-between;
}
.footer__email{
    display: flex;
    width: 170px;
    height: 40px;
    padding: 0 0px;
}

.btnred{
    display: flex;
    font-size: 14px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    background-color: rgba(198, 179, 147, 1);
    width: 100px;
    height: 40px;
    line-height: 2.9em;
    padding: 0 23px; 
    margin: 18px;
}
.btnred:hover{
    background-color: rgb(189, 158, 105);
}
.footer__submenu{
    display: flex;
    justify-content: space-between;
    width: 1108px;
    height: 65px;
    border-top: 1px solid gray;
}

.footer__text{
    display: flex;
    float: left;
    padding-right: 42px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    opacity: 40%;
    transition: opacity .1s linear;
    margin-top: 40px;
    
}
.footer__text:hover{
    opacity: 1;
}

.footer__social{
  display: flex;
}
.footer__icon{
    color: rgba(255, 255, 255, 1);
    padding: 5px;
    margin-top: 40px;
    opacity: 0.4;
    transition: opacity .1s linear;
}
.footer__icon:hover{
    opacity: 1;
}