.container{
    background-color: rgb(3, 122, 83);
    width: 350px;
    height: 150px;
    margin: 5px;
    border:1px solid grey;
    color:rgb(82, 82, 82);
  }
.title{
  color: black;
  margin: 20px;
}
.body{
  color: white;
  margin: 5px;
}
